* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


#container_principale {
    background-color: #083b4c;
    text-align: center;
    color: white;
    padding: 50px 0;
}


h1 {
    font-size: 100px;
}

.quadrato {
    font-weight: bold;
    aspect-ratio: 1;
    width: calc((100% / 7) - 40px);
    background-color: #1389b2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    margin: 0 20px 40px;
    border-radius: 10px;
    cursor: pointer;
}

.quadrato:hover {
    transform: scale(1.1);
}

.contenitore_numeri {
    width: 90%;
    margin: 50px auto 0;
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
    color: black;
}

.fizz{
    background-color: #0bd6a1;
    color: black;
}

.buzz{
    background-color: #ffd166;
    color: black;
}

.fizzbuzz{
    background-color: #f0466f;
}